docs/chipseq.csv
docs/chipseq.gtf
docs/test.bed

*.swp
.snakemake/
wheelhouse/
.coverage
htmlcov/
*flycheck*
*.pyc*
*bk
.hypothesis/
*.RData
*.Rhistory
build/
_build/
workflow/data
*#*
*.pyc
*.bk
*cache/
build/
dist/


*.txt
*.so
*.cpp
*.lprof
*.egg-*

pyranges-*/
*.bw
